<div class="background-image"></div>

<!-- <div class="content">
    <div class="row">
        <div class="col">
            <h1>3D Druck Kiosk</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Hier kannst du deine 3D Drucke auf Prusa Druckern starten. Einfach auf das Display klicken.
                Du kannst hier auf dein Model klicken, den Drucker auswählen und direkt losdrucken.
            </p>
        </div>
    </div>
    <div class="row navigation">
        <div class="col">
            <button  type="button" class="btn btn-outline-secondary">jetzt drucken</button>
        </div>
    </div>
</div>


<a [routerLink]="['/kiosk/files']" class="btn btn-link" style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;"></a> -->
