<div class="container-fluid ps-3 pe-3 pt-4 pb-4 h-100">

    <div class="row h-100 d-flex" style="align-items: center;" *ngIf="files.length == 0">
        <div class="col" style="text-align: center;">
            <p>
                Keine Dateien zum drucken vorhanden.
            </p>
            <p>
                Sprich uns an, wenn du Hilfe beim Erstellen einer 3D Druck Datein benötigst
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <a [routerLink]="['/kiosk/printers']" [queryParams]="{file: file.filename}" class="col-3"
                    style="text-decoration: none; color: #000;" *ngFor="let file of files">
                    <app-file-card [data]="file"></app-file-card>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="navigation">

    <a [routerLink]="['/kiosk/slideshow']" type="button" class="btn btn-outline-secondary">zurück</a>

</div>