.card {
    .card-img-top {
        
        &.no-image {
            width: 100%;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,0.2);
            font-weight: bold;
        }
    }

    .card-body {
        .card-title {
            height: 5rem;
            line-height: 1.5rem;
        }
    }
}
